#RoomsCountField > .unity-text-input {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 12px;
}
